<%- if controller_name != 'sessions' %>
<a href="/users/sign_in" class="warning button " style="width:26.2rem">Click To Sign In Now</a>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<a href="/users/sign_up" class="alert hollow button " style="width:26.2rem">Not a Member? Sign up Now</a>

<% end -%>


<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
