// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: underline;
				color: #2a2f35;
				font-size: 1em;
				&:hover {
					color: #33acb7;
				}
			}
		}
    

    .button {

    width: 100%;
    }